header p{
    color: aliceblue;
}

h1{
    font-size: 63px;
    color: beige;
}

h2{
    font-size: 23px;
    text-transform: uppercase;
    color: black;
    font-weight: 600;
}

.carousel-caption h5{
    font-size: 80px;
    color: rgb(236, 84, 24);
    text-shadow: 2px 2px 2px black;
}